<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <!-- 引入axios -->
    <script type="text/javascript" src="../js/axios.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<div id="demo">
    <template>
        <el-form :inline="true" :model="formInline" class="demo-form-inline">

            <el-form-item label="书本名称">
                <el-input v-model="formInline.name" placeholder="企业名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="selectQuery()">查询</el-button>
            </el-form-item>
        </el-form>

        <!--新增-->
        <div>
            <el-button type="primary" plain @click="addFormVisible=true">新增</el-button>
        </div>
        <!--增加表格-->
        <el-dialog title="添加" :visible.sync="addFormVisible">
            <el-form :model="addForm">
                <el-form-item>

                    <el-upload
                            class="upload-demo"
                            drag
                            action="http://localhost:8080/books/upFile"
                            multiple
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload"
                    >
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                    </el-upload>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addFormVisible  = false">取 消</el-button>
                <el-button type="primary" @click="addExecute()">确 定</el-button>
            </div>
        </el-dialog>

        <!--修改表格-->
        <el-dialog title="修改" :visible.sync="updateFormVisible">
            <el-form :model="updateForm">
                <el-form-item>
                    <el-input v-model="updateForm.name" autocomplete="off"></el-input>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addFormVisible  = false">取 消</el-button>
                <el-button type="primary" @click="updateExecute()">确 定</el-button>
            </div>
        </el-dialog>


        <el-table
                ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>

            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="downSum"
                    label="总下载量"
                    show-overflow-tooltip>
            </el-table-column>

            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" @click="updateBook(scope.row);">修改</el-button>
                    <el-button type="danger" @click="deleteBook(scope.row.id)">删除</el-button>
                    <a :href="'http://localhost:8080/books/downFile/'+scope.row.id" download>
                        <el-button type="info">下载</el-button>
                    </a>
                </template>
            </el-table-column>
        </el-table>


        <div class="block">
            <span class="demonstration">显示总数</span>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage"
                    :page-size=pageSize
                    layout="total, prev, pager, next"
                    :total=total>
            </el-pagination>
        </div>

    </template>


</div>

<script type="text/javascript">
    Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。

    //创建Vue实例
    new Vue({
        el: '#demo', //el用于指定当前Vue实例为哪个容器服务，值通常为css选择器字符串。
        data: { //data中用于存储数据，数据供el所指定的容器去使用，值我们暂时先写成一个对象。
            tableData: [],
            downUrl: "",
            formInline: {
                name: "",
            },
            addFormVisible: false,
            updateFormVisible: false,
            pageSize: 2,
            total: 10,
            currentPage: 1,
            addForm: {
                name: "",
                url: "",
            },
            updateForm: {
                name: ""
            }
        },
        methods: {
            // 展示列表数据
            selectAll() {
                let _this = this;
                axios({
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    method: "get",
                    url: "http://localhost:8080/books/getAll"
                }).then(function (resp) {
                    console.log(resp.data)
                    _this.tableData = resp.data.obj;
                })
            },
            selectQuery() {
                let _this = this;
                axios({
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    method: "get",
                    url: "http://localhost:8080/books/likeAndPage/" + _this.formInline.name
                }).then(function (resp) {
                    _this.tableData = resp.data.obj;
                })
            },

            deleteBook(id) {
                let _this = this;
                axios({
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    method: "delete",
                    url: "http://localhost:8080/books/delete?id=" + id
                }).then(() => {
                        _this.handleCurrentChange(_this.currentPage)
                    }
                )
            },
            addExecute() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/books/add",
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    data: this.addForm
                }).then(() => {
                    this.addFormVisible = false
                    this._this.handleCurrentChange(_this.currentPage)
                })
            },

            updateBook(row) {
                this.updateForm.name = row.name;
                this.updateForm.id = row.id;
                this.updateFormVisible = true;
            },
            updateExecute() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/books/update",
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    data: this.updateForm
                }).then(() => {
                    this.updateFormVisible = false
                    this._this.handleCurrentChange(_this.currentPage)
                })
            },
            beforeAvatarUpload(file) {

            },
            handleAvatarSuccess(res, file) {
                console.log("上传成功");
                if (res.code == 200) {
                    this.addForm.url = res.obj.url
                    this.addForm.name = res.obj.name
                } else {
                    this.$message.error(res.messges);
                }
            },
            //分页
            handleSizeChange(val) {
                this.pageSize = val
                axios.get(`http://localhost:8080/books/likeAndPage/${this.currentPage}/${val}`).then((res) => {
                    console.log(res)
                    var data = res.data;
                    if (data.code == 200) {
                        this.tableData = data.obj.records
                        this.total = data.obj.total
                    } else {
                        this.$message.error(data.messges)
                    }
                });
                this.pageSize = val
                console.log(`每页 ${val} 条`)
            },
            handleCurrentChange(val) {
                this.currentPage = val
                axios.get(`http://localhost:8080/books/likeAndPage/${val}/${this.pageSize}`).then((res) => {
                    console.log(res)
                    var data = res.data;
                    if (data.code == 200) {
                        this.tableData = data.obj.records
                        this.total = data.obj.total
                    } else {
                        this.$message.error(data.messges)
                    }
                });
                console.log(`当前页: ${val}`)
                this.$data.currentPage = val
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            }
        },
        mounted() {
            this.handleCurrentChange(1)
        }
    })

</script>
</body>
</html>